<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2026, WSO2 LLC. (https://www.wso2.com).
 ~
 ~ WSO2 LLC. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~     http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied. See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->

<DPDPAccelerator xmlns="http://wso2.org/projects/carbon/dpdp-accelerator.xml"
                 xmlns:svns="http://org.wso2.securevault/configuration">
    <JDBCPersistenceManager>
        <DataSource>
            {% if dpdp_accelerator.jdbc_persistence_manager.data_source_name is defined %}
            <Name>{{dpdp_accelerator.jdbc_persistence_manager.data_source_name}}</Name>
            {% else %}
            <Name>jdbc/WSO2DPDP_DB</Name>
            {% endif %}
        </DataSource>
        {% if dpdp_accelerator.jdbc_persistence_manager.connection_verification_timeout_seconds is defined %}
        <ConnectionVerificationTimeout>{{dpdp_accelerator.jdbc_persistence_manager.connection_verification_timeout_seconds}}</ConnectionVerificationTimeout>
        {% else %}
        <ConnectionVerificationTimeout>1</ConnectionVerificationTimeout>
        {% endif %}
    </JDBCPersistenceManager>
    <ConsentPortal>
        {% if dpdp_accelerator.consent_portal.auto_provisioning_enabled is defined %}
        <AutoProvisioningEnabled>{{dpdp_accelerator.consent_portal.auto_provisioning_enabled}}</AutoProvisioningEnabled>
        {% else %}
        <AutoProvisioningEnabled>true</AutoProvisioningEnabled>
        {% endif %}
        {% if dpdp_accelerator.consent_portal.client_id is defined %}
        <ClientId>{{dpdp_accelerator.consent_portal.client_id}}</ClientId>
        {% else %}
        <ClientId>DPDP_CONSENT_PORTAL</ClientId>
        {% endif %}
    </ConsentPortal>
    <ConsentApiInvoker>
        {% if dpdp_accelerator.consent_api_invoker.auto_provisioning_enabled is defined %}
        <AutoProvisioningEnabled>{{dpdp_accelerator.consent_api_invoker.auto_provisioning_enabled}}</AutoProvisioningEnabled>
        {% else %}
        <AutoProvisioningEnabled>true</AutoProvisioningEnabled>
        {% endif %}
        {% if dpdp_accelerator.consent_api_invoker.client_id is defined %}
        <ClientId>{{dpdp_accelerator.consent_api_invoker.client_id}}</ClientId>
        {% else %}
        <ClientId>DPDP_CONSENT_API_INVOKER</ClientId>
        {% endif %}
    </ConsentApiInvoker>
    <Complaints>
        {% if dpdp_accelerator.complaints.statutory_due_period_days is defined %}
        <StatutoryDuePeriodDays>{{dpdp_accelerator.complaints.statutory_due_period_days}}</StatutoryDuePeriodDays>
        {% else %}
        <StatutoryDuePeriodDays>90</StatutoryDuePeriodDays>
        {% endif %}
        {% if dpdp_accelerator.complaints.attachment_max_size_bytes is defined %}
        <AttachmentMaxSizeBytes>{{dpdp_accelerator.complaints.attachment_max_size_bytes}}</AttachmentMaxSizeBytes>
        {% else %}
        <AttachmentMaxSizeBytes>10485760</AttachmentMaxSizeBytes>
        {% endif %}
        {% if dpdp_accelerator.complaints.attachment_max_files_per_upload is defined %}
        <AttachmentMaxFilesPerUpload>{{dpdp_accelerator.complaints.attachment_max_files_per_upload}}</AttachmentMaxFilesPerUpload>
        {% else %}
        <AttachmentMaxFilesPerUpload>5</AttachmentMaxFilesPerUpload>
        {% endif %}
        {% if dpdp_accelerator.complaints.email_notifications_enabled is defined %}
        <EmailNotificationsEnabled>{{dpdp_accelerator.complaints.email_notifications_enabled}}</EmailNotificationsEnabled>
        {% else %}
        <EmailNotificationsEnabled>true</EmailNotificationsEnabled>
        {% endif %}
    </Complaints>
    <EventNotifications>
        {% if dpdp_accelerator.event_notifications.webhook.thread_pool_size is defined %}
        <ThreadPoolSize>{{dpdp_accelerator.event_notifications.webhook.thread_pool_size}}</ThreadPoolSize>
        {% else %}
        <ThreadPoolSize>4</ThreadPoolSize>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.webhook.base_backoff_seconds is defined %}
        <BaseBackoffSeconds>{{dpdp_accelerator.event_notifications.webhook.base_backoff_seconds}}</BaseBackoffSeconds>
        {% else %}
        <BaseBackoffSeconds>5</BaseBackoffSeconds>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.webhook.max_retries is defined %}
        <MaxRetries>{{dpdp_accelerator.event_notifications.webhook.max_retries}}</MaxRetries>
        {% else %}
        <MaxRetries>5</MaxRetries>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.webhook.allow_http_callback_url is defined %}
        <AllowHttpCallbackUrl>{{dpdp_accelerator.event_notifications.webhook.allow_http_callback_url}}</AllowHttpCallbackUrl>
        {% else %}
        <AllowHttpCallbackUrl>true</AllowHttpCallbackUrl>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.webhook.allowed_callback_ports is defined %}
        <AllowedCallbackPorts>{{dpdp_accelerator.event_notifications.webhook.allowed_callback_ports}}</AllowedCallbackPorts>
        {% else %}
        <AllowedCallbackPorts>-1,80,443,8443</AllowedCallbackPorts>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.webhook.allow_private_network_callback_targets is defined %}
        <AllowPrivateNetworkCallbackTargets>{{dpdp_accelerator.event_notifications.webhook.allow_private_network_callback_targets}}</AllowPrivateNetworkCallbackTargets>
        {% else %}
        <AllowPrivateNetworkCallbackTargets>false</AllowPrivateNetworkCallbackTargets>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.webhook.delivery_worker_batch_size is defined %}
        <DeliveryWorkerBatchSize>{{dpdp_accelerator.event_notifications.webhook.delivery_worker_batch_size}}</DeliveryWorkerBatchSize>
        {% else %}
        <DeliveryWorkerBatchSize>50</DeliveryWorkerBatchSize>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.webhook.delivery_worker_poll_seconds is defined %}
        <DeliveryWorkerPollSeconds>{{dpdp_accelerator.event_notifications.webhook.delivery_worker_poll_seconds}}</DeliveryWorkerPollSeconds>
        {% else %}
        <DeliveryWorkerPollSeconds>5</DeliveryWorkerPollSeconds>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.webhook.stuck_inflight_threshold_seconds is defined %}
        <StuckInFlightThresholdSeconds>{{dpdp_accelerator.event_notifications.webhook.stuck_inflight_threshold_seconds}}</StuckInFlightThresholdSeconds>
        {% else %}
        <StuckInFlightThresholdSeconds>10</StuckInFlightThresholdSeconds>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.webhook.max_verification_response_body_bytes is defined %}
        <MaxVerificationResponseBodyBytes>{{dpdp_accelerator.event_notifications.webhook.max_verification_response_body_bytes}}</MaxVerificationResponseBodyBytes>
        {% else %}
        <MaxVerificationResponseBodyBytes>4096</MaxVerificationResponseBodyBytes>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.webhook.pending_subscription_recovery_threshold_seconds is defined %}
        <PendingSubscriptionRecoveryThresholdSeconds>{{dpdp_accelerator.event_notifications.webhook.pending_subscription_recovery_threshold_seconds}}</PendingSubscriptionRecoveryThresholdSeconds>
        {% else %}
        <PendingSubscriptionRecoveryThresholdSeconds>60</PendingSubscriptionRecoveryThresholdSeconds>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.webhook.background_worker_initial_delay_seconds is defined %}
        <BackgroundWorkerInitialDelaySeconds>{{dpdp_accelerator.event_notifications.webhook.background_worker_initial_delay_seconds}}</BackgroundWorkerInitialDelaySeconds>
        {% else %}
        <BackgroundWorkerInitialDelaySeconds>10</BackgroundWorkerInitialDelaySeconds>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.webhook.pending_subscription_recovery_interval_seconds is defined %}
        <PendingSubscriptionRecoveryIntervalSeconds>{{dpdp_accelerator.event_notifications.webhook.pending_subscription_recovery_interval_seconds}}</PendingSubscriptionRecoveryIntervalSeconds>
        {% else %}
        <PendingSubscriptionRecoveryIntervalSeconds>30</PendingSubscriptionRecoveryIntervalSeconds>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.webhook.pending_subscription_recovery_batch_size is defined %}
        <PendingSubscriptionRecoveryBatchSize>{{dpdp_accelerator.event_notifications.webhook.pending_subscription_recovery_batch_size}}</PendingSubscriptionRecoveryBatchSize>
        {% else %}
        <PendingSubscriptionRecoveryBatchSize>20</PendingSubscriptionRecoveryBatchSize>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.webhook.worker_shutdown_timeout_seconds is defined %}
        <WorkerShutdownTimeoutSeconds>{{dpdp_accelerator.event_notifications.webhook.worker_shutdown_timeout_seconds}}</WorkerShutdownTimeoutSeconds>
        {% else %}
        <WorkerShutdownTimeoutSeconds>5</WorkerShutdownTimeoutSeconds>
        {% endif %}
        <SystemTopics>
            {% if dpdp_accelerator.event_notifications.system_topics_auto_create_enabled is defined %}
            <AutoCreateEnabled>{{dpdp_accelerator.event_notifications.system_topics_auto_create_enabled}}</AutoCreateEnabled>
            {% else %}
            <AutoCreateEnabled>true</AutoCreateEnabled>
            {% endif %}
        </SystemTopics>
        <PayloadSigning>
            {% if dpdp_accelerator.event_notifications.payload_signing.enabled is defined %}
            <Enabled>{{dpdp_accelerator.event_notifications.payload_signing.enabled}}</Enabled>
            {% else %}
            <Enabled>true</Enabled>
            {% endif %}
            {% if dpdp_accelerator.event_notifications.payload_signing.audience is defined %}
            <Audience>{{dpdp_accelerator.event_notifications.payload_signing.audience}}</Audience>
            {% else %}
            <Audience>dpdp-event-notifications</Audience>
            {% endif %}
        </PayloadSigning>
        <LifecycleEvents>
            {% if dpdp_accelerator.event_notifications.lifecycle_events.publishing_enabled is defined %}
            <PublishingEnabled>{{dpdp_accelerator.event_notifications.lifecycle_events.publishing_enabled}}</PublishingEnabled>
            {% else %}
            <PublishingEnabled>true</PublishingEnabled>
            {% endif %}
        </LifecycleEvents>
        <Polling>
            {% if dpdp_accelerator.event_notifications.polling.default_return_immediately is defined %}
            <DefaultReturnImmediately>{{dpdp_accelerator.event_notifications.polling.default_return_immediately}}</DefaultReturnImmediately>
            {% else %}
            <DefaultReturnImmediately>true</DefaultReturnImmediately>
            {% endif %}
            {% if dpdp_accelerator.event_notifications.polling.default_max_events is defined %}
            <DefaultMaxEvents>{{dpdp_accelerator.event_notifications.polling.default_max_events}}</DefaultMaxEvents>
            {% else %}
            <DefaultMaxEvents>20</DefaultMaxEvents>
            {% endif %}
            {% if dpdp_accelerator.event_notifications.polling.max_events_limit is defined %}
            <MaxEventsLimit>{{dpdp_accelerator.event_notifications.polling.max_events_limit}}</MaxEventsLimit>
            {% else %}
            <MaxEventsLimit>100</MaxEventsLimit>
            {% endif %}
            {% if dpdp_accelerator.event_notifications.polling.request_hmac_validation_enabled is defined %}
            <RequestHmacValidationEnabled>{{dpdp_accelerator.event_notifications.polling.request_hmac_validation_enabled}}</RequestHmacValidationEnabled>
            {% else %}
            <RequestHmacValidationEnabled>false</RequestHmacValidationEnabled>
            {% endif %}
        </Polling>
    </EventNotifications>
    <ConsentHistory>
        {% if dpdp_accelerator.consent_history.enabled is defined %}
        <Enabled>{{dpdp_accelerator.consent_history.enabled}}</Enabled>
        {% else %}
        <Enabled>true</Enabled>
        {% endif %}
        {% if dpdp_accelerator.consent_history.snapshot_enabled is defined %}
        <SnapshotEnabled>{{dpdp_accelerator.consent_history.snapshot_enabled}}</SnapshotEnabled>
        {% else %}
        <SnapshotEnabled>true</SnapshotEnabled>
        {% endif %}
    </ConsentHistory>
    <ConsentExpiry>
        {% if dpdp_accelerator.consent_expiry.enabled is defined %}
        <Enabled>{{dpdp_accelerator.consent_expiry.enabled}}</Enabled>
        {% else %}
        <Enabled>true</Enabled>
        {% endif %}
        {% if dpdp_accelerator.consent_expiry.cron_value is defined %}
        <CronValue>{{dpdp_accelerator.consent_expiry.cron_value}}</CronValue>
        {% else %}
        <CronValue>0 0 0 * * ?</CronValue>
        {% endif %}
        {% if dpdp_accelerator.consent_expiry.batch_size is defined %}
        <BatchSize>{{dpdp_accelerator.consent_expiry.batch_size}}</BatchSize>
        {% else %}
        <BatchSize>100</BatchSize>
        {% endif %}
    </ConsentExpiry>
</DPDPAccelerator>
